
body {
    background-image: url("https://images.unsplash.com/photo-1565292266983-74457d481f44?ixlib=rb-1.2.1&auto=format&fit=crop&w=1575&q=80");
    background-size: cover;
    height: 300vh;
}


#title{
    text-align: center;
    font-family: 'Sedgwick Ave Display', cursive;
    font-style: italic;
    color:   #502137 ;
    
}

#description{
    text-align: center;
    font-style: bold;
    padding-bottom: 15px;
}

span{
    color: green;
}

#survey-form {
    height:200px;
    font-size:100px;
    display:flex;
    justify-content: center;
    width: 400px;
    
}

.container{
    display:block;
    width: 100%;
    align-self: center;
}